div.containe {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-image: url(olas1.png);
  width: 100%;
  min-height: 100%;
  background-color: white;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: bottom;
  color: black;
  .contain{
    position: relative;
    z-index: 2;
  }
}

.btn-wrapper{
  width: 100%;
  text-align: center;
}

.btn {
  width: 40%;
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: normal;
  font-size: 125%;
  letter-spacing: 1.2px;
  border: 0.8px solid white;
  background: #74b4bc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.segundo {
  letter-spacing: 2.2px;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 14%;
}

.primero {
  margin-right: 25px;
}

h1.titulo {
  padding: 0;
  padding-top: 17%;
  padding-bottom: 5%;
  margin: 0;
  text-align: center;
  background-color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 650%;
  color: #1a5f6c;
}

@media (max-width: 340px) {
  .btn {
    font-size: 100%;
  }
  h1.titulo {
    font-size: 550%;
    padding-top: 18%;
  }
}

@media (min-width: 768px) {
  .contain {
    padding-top: 0;
  }
  .btn {
    font-size: 150%;
    letter-spacing: 2.9px;
  }
  h1.titulo {
    padding-top: 10%;
  }
}

@media(min-width:1100px){
  div.containe {

    background-image:none;

  }
}

@media (height: 812px) {
  .contain {
    padding-top: 30%;
  }
  h1.titulo {
    padding-top: 29%;
  }
}
