div.containe{
    padding:0;
    margin: 0;
    background-color: #E2E7FF; 
    background-image: url(olas1.png);
    width: 100%;
    height: 100%;
    background-color: #E2E7FF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    color: black;
}

.btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 125%;
    letter-spacing: 1.2px;
    border: 0.8px solid #1a5f6c;
    background: #5CBCC4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.segundo{
    letter-spacing: 2.2px;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E7FF;
  padding-top: 14%;
}

.primero{
    margin-right: 25px;
}

h1.titulo{
    padding: 0;
    padding-top: 17%;
    padding-bottom: 5%;
    margin: 0;
    text-align: center;
    background-color: #E2E7FF; 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 650%;   
    color: #1a5f6c;     
}

@media (max-width: 340px) {
    .btn{
        font-size: 100%;
    }
    h1.titulo{
        font-size: 550%;
        padding-top: 18%;
    }
  }

@media(min-width:768px){
    .contain {
        padding-top: 0;
      }
    .btn{
        font-size: 150%;
        letter-spacing: 2.9px;
    }
    h1.titulo{
        padding-top: 10%;
    }
      
}

@media(height: 812px){
    .contain{
        padding-top: 30%;
        
    }
    h1.titulo{
        padding-top: 29%;
    }
}





