<div class="fondo">
  <div class="form">
    
    <form [formGroup]="loginForm">
      <h1>Cambiar contraseña</h1>
      <label class="info"
        >Introduce la nueva contraseña</label
      >

      
        <div class="formulario">
          <mat-form-field appearance="outline">
            <mat-label
              >Nueva Contraseña</mat-label
            >
            <input type="password" matInput placeholder="Contraseña" formControlName="contra" />
          </mat-form-field>
          <div *ngIf="contra.invalid && (contra.dirty || contra.touched)">
            <mat-error *ngIf="contra.errors.required">
              Introduzca su nueva contraseña
            </mat-error>
            <mat-error *ngIf="contra.errors.minlength">
              7 caracteres mínimo
            </mat-error>
            <mat-error *ngIf="contra.errors.maxlength">
              10 caracteres máximo
            </mat-error>
            <mat-error *ngIf="contra.errors.pattern">
              Debe tener al menos una Mayúscula, una Minúscula y  un
              dígito
            </mat-error>
          </div>
          <mat-form-field appearance="outline">
            <mat-label
              >Repetir contraseña</mat-label
            >
            <input type="password" formControlName="contraconf" matInput placeholder="Repetir Contraseña" />
          </mat-form-field>
          <mat-error
          *ngIf="loginForm.hasError('notSame') && contraconf.dirty"
        >
          Contraseñas no coinciden
        </mat-error>
          
        </div>
        <div class="boton">
          
          <a routerLink="/iniciar-sesion"
            ><button
              type="button"
              class="btn btn-primary segundo"
              type="submit>"
            >
              continuar
            </button></a
          >
        </div>
      

      </form>
    </div>
  </div>
