<app-menu></app-menu>

<div class="fondo">
  <div class="form">
    <div class="logo">
      <img class="img-profile" src="{{ user.image }}" />
    </div>
    <div class="datos">
      <h4>{{ user.firstName }} {{ user.lastName }}</h4>
      <h6>@{{ user.userName }}</h6>
    </div>
    <mat-tab-group mat-stretch-tabs animationDuration="1000ms" style="color: black !important;">
      <mat-tab label="Foros suscritos">
        <div *ngFor="let foro of forumsPosts">
          <h6 class="titulo-foro">Foro: {{ foro.title }}</h6>
          <div *ngIf="foro.posts.length > 0; else sinPost">
            <h6 class="titulo-foro">Comentarios:</h6>
            <div *ngFor="let com of foro.posts">
              <div class="row flex-row-reverse bootstrap snippets">
                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <div class="comment-wrapper">
                    <div class="panel panel-info">
                      <div class="panel-body">
                        <div class="clearfix"></div>

                        <ul class="media-list">
                          <li class="media">
                            <div>
                              <img
                                alt=""
                                class="img-circle"
                                src="{{ foro.image }}"
                              />
                            </div>

                            <div class="media-body">
                              <div class="ordenar">
                                <div
                                  style="width: 75%; word-wrap: break-word;"
                                  class="tamano"
                                >
                                  <p class="p" style="display: inline;">
                                    {{ com.text }}
                                  </p>
                                </div>

                                <div
                                  style="display: inline; margin-right: 7px;"
                                >
                                  <mat-icon
                                    (click)="onDelete(com.id)"
                                    [inline]="true"
                                    class="like"
                                  >
                                    delete
                                  </mat-icon>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #sinPost>
              <div style="width: 90%; margin:auto; display:flex;" class="sueno">
                <p style="display: inline" class="tamano">¡No has comentado! </p>
                <div style="display: inline;">
                    <mat-icon
                    (click)="dislikeForo(foro.id)"
                    [inline]="true"
                    class="dislike"
                  >
                    thumb_down
                  </mat-icon></div>

                
              </div>
              <mat-divider></mat-divider>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab label="Tus foros">
        
      </mat-tab>
      <mat-tab label="Otros foros"> 
        <div *ngFor="let foro of notSubscribedForumsPosts">
            <h6 class="titulo-foro">Foro: {{ foro.title }}</h6>
            <div *ngIf="foro.posts.length > 0; else sinPost">
              <h6 class="titulo-foro">Comentarios:</h6>
              <div *ngFor="let com of foro.posts">
                <div class="row flex-row-reverse bootstrap snippets">
                  <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <div class="comment-wrapper">
                      <div class="panel panel-info">
                        <div class="panel-body">
                          <div class="clearfix"></div>
  
                          <ul class="media-list">
                            <li class="media">
                              <div>
                                <img
                                  alt=""
                                  class="img-circle"
                                  src="{{ foro.image }}"
                                />
                              </div>
  
                              <div class="media-body">
                                <div class="ordenar">
                                  <div
                                    style="width: 75%; word-wrap: break-word;"
                                    class="tamano"
                                  >
                                    <p class="p" style="display: inline;">
                                      {{ com.text }}
                                    </p>
                                  </div>
  
                                  <div
                                    style="display: inline; margin-right: 7px;"
                                  >
                                    <mat-icon
                                      (click)="onDelete(com.id)"
                                      [inline]="true"
                                      class="like"
                                    >
                                      delete
                                    </mat-icon>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #sinPost>
                <div style="width: 90%; margin:auto; display:flex;" class="sueno">
                  <p style="display: inline" class="tamano">¡No has comentado! </p>
                  <div style="display: inline;">
                      <mat-icon
                      (click)="dislikeForo(foro.id)"
                      [inline]="true"
                      class="dislike"
                    >
                      thumb_down
                    </mat-icon></div>
  
                  
                </div>
                <mat-divider></mat-divider>
            </ng-template>
          </div>   
    </mat-tab>
    </mat-tab-group>
  </div>
</div>
