<app-navbar></app-navbar>

<h5 class="modal-title" id="exampleModalLabel" style="margin-left: 4%; margin-top:3%">
    <strong> Registrar Administrador </strong>
  </h5>

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5" style="margin-top: 1rem !important">
          <div class="card-img-left d-none d-md-flex"></div>
          <div class="card-body" style="width: 100%;">
            <form [formGroup]="registerForm" (ngSubmit)="onSaveForm()"
              class="form-signin"
            >
            <div class="form-label-group">
                <label for="inputNombre">Nombres</label>
                <input formControlName="nombres"
                  type="text"
                  id="inputNombre"
                  class="form-control"
                  placeholder="Nombres"
                  required
                  autofocus
                />
              </div>
              <mat-error
          *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)"
        >
          Por favor introduzca su nombre
        </mat-error>
              <div class="form-label-group">
                <label for="inputApellido">Apellidos</label>
                <input formControlName="apellidos"
                  type="text"
                  id="inputApellido"
                  class="form-control"
                  placeholder="Apellidos"
                  required
                  autofocus
                />
              </div>
              <mat-error
          *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)"
        >
          Por favor introduzca al menos un apellido
        </mat-error>
              <div class="form-label-group">
                <label for="inputCorreo">Correo</label>
                <input 
                  formControlName="correo"
                  type="text"
                  id="inputCorreo"
                  class="form-control"
                  placeholder="Correo"
                  required
                  autofocus
                />
              </div>
              <mat-error
          *ngIf="
            correo.invalid &&
            (correo.dirty || correo.touched) &&
            correo.errors.required
          "
        >
          Por favor introduzca su correo
        </mat-error>
        <mat-error
          *ngIf="
            correo.invalid &&
            (correo.dirty || correo.touched) &&
            correo.errors.pattern
          "
        >
          El correo no es valido
        </mat-error>
              <div class="form-label-group">
                <label for="inputUserame">Usuario</label>
                <input formControlName="usuario"
                  type="text"
                  id="inputUserame"
                  class="form-control"
                  placeholder="Usuario"
                  required
                  autofocus
                />
              </div>
              <mat-error
              *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)"
            >
              Por favor introduzca un username
            </mat-error>
            <div class="form-label-group">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha" />
              <mat-datepicker-toggle matSuffix [for]="picker" appearance="outline">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker appearance="outline"></mat-datepicker>
            </div>
            <mat-error *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
              Por favor seleccione su fecha de nacimiento
            </mat-error>

              <div class="form-label-group">
                <label for="inputContrasena">Contraseña</label>
                <input
                  formControlName="contra"
                  type="password"
                  id="inputContrasena"
                  class="form-control"
                  placeholder="Contraseña"
                  required
                  autofocus
                />
              </div>
              <div *ngIf="contra.invalid && (contra.dirty || contra.touched)">
                <mat-error *ngIf="contra.errors.required">
                  Introduzca su nueva contraseña
                </mat-error>
                <mat-error *ngIf="contra.errors.minlength">
                  7 caracteres mínimo
                </mat-error>
                <mat-error *ngIf="contra.errors.maxlength">
                  10 caracteres máximo
                </mat-error>
                <mat-error *ngIf="contra.errors.pattern">
                  Debe tener al menos una Mayúscula, una Minúscula y  un
                  dígito
                </mat-error>
              </div>
              <div class="form-label-group">
                <label for="inputContrasena2">Repetir contraseña</label>
                <input
                formControlName="validContra"          
                type="password"
                  id="inputContrasena2"
                  class="form-control"
                  placeholder="Repetir contraseña"
                  required
                  autofocus
                />
              </div>  
              <mat-error
          *ngIf="registerForm.hasError('notSame') && validContra.dirty"
        >
          Contraseñas no coinciden
        </mat-error>            

              <br />
              <button
                [disabled]="registerForm.invalid"
                class="btn btn1 btn-primary"
                type="submit"
                style="margin-left: 27, 5%;"
                
              >
                continuar
              </button>

              <hr class="my-4" />
              <button
                class="btn btn1 btn-primary"
               
                routerLink="/admin"
                style="margin-left: 27, 5%;"
              >
                cancelar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>