.fondo {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative; 
  max-width: 100%;
  overflow: hidden;
  min-height: 100%;
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-bottom: 2rem;

  button.abajo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
  }
}

h2 {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: black;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0.9em;
  font-weight: normal;
}

.content {
  width: 91%;
  margin: auto;
  text-align: justify;
  font-family: Roboto, sans-serif;
}

img {
  width: 150px;
  height: 185px;
  margin-left: 15px !important;
  margin-top: 10px !important;
}

h4 {
  font-family: Roboto, sans-serif;
  text-align: left;
  color: black;
  padding-top: 5%;

  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.comentario {
  width: 91%;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

h6,
.h6 {
  align-content: left;
  text-align: left;
  margin-top: 1.2rem !important;
  margin-left: 7% !important;
  margin-right: 7% !important;
  font-size: 0.9rem !important;
  font-family: "Montserrat Alternates", sans-serif;
}

.btn {
  width: 30%;
  margin-left: 70%;
  font-style: normal;
  font-family: "Poiret One";
  letter-spacing: 3px;
  border: 0.8px solid white;
  background: #74b4bc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

button {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.boton {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  font-family: Poiret One;
  max-width: 70%;
  width: 30rem;
}

.opciones{
  margin-top: 5em;
  margin-bottom: 1em;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

button.suscribir {
  width: 40%;
  margin-left: 0 !important;
  background-color: #ff4081;
  color: white;
  border-color: white;
  padding: 0;
  padding-top: 3.5px;
  margin-top: 0 !important;
  border-radius: 4px;
  padding-bottom: 3.5px;
  margin-bottom: 0 !important;
}

button.dislike {
  width: 104%;
  margin-left: 0 !important;
  background-color: grey;
  color: white;
  border-color: white;
  padding: 0;
  padding-top: 3.5px;
  margin-top: 0 !important;
  border-radius: 4px;
  padding-bottom: 3.5px;
  margin-bottom: 0 !important;
}

button.primero {
  width: 40%;
  margin-left: 30%;
  background-color: #74b4bc;
  color: white;
  border-color: white;
  font-weight: bold;
  padding: 0;
  border-radius: 60px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-bottom: 17px;
}

button.abajo {
  width: 12%;
  border-radius: 100px;
  padding-top: 9.5px;
  background-color: #74b4bc;
  color: white;
  border-color: white;
}

button.btn-mas{
    width: 70%;
    margin-left: 15%;
    background: orange;
    font-weight: bold;

}

.media-list {
  padding: 0 !important;
}

.comment-wrapper .panel-body {
  overflow: hidden;
  width: 100%;
}

.comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: 2px solid #e5e7e8;
  margin-right: 15px !important;
  margin-left: 7px !important;
  margin-bottom: 10px !important;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

mat-icon.like {
  margin-left: 13px;
  color: #00acee;
}

mat-icon.dislike {
  margin-left: 7px;
  color: #00acee;
}

p {
  text-align: justify;
  margin-right: 7px;
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.snippets {
  font-family: Roboto, sans-serif;
}

time{
  color: grey !important;
  font-size: 0.7rem;
}

.ordenar{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
  max-width: 100%;
}


div.p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

div.p:hover {
  overflow: visible;
}

mat-icon.volver{
  margin-top:5px;
  color:transparent;
}

@media(max-width: 390px){
  p{
    max-width: 256px;
  }
}

@media (max-width: 360px) {
  button.primero {
    width: 45%;
  }
  button.abajo {
    width: 15%;
  }
  h2 {
    margin-top: 1em;
  }
  p{
    max-width: 209px;
    
  }
}

@media (max-width: 320px){
  .text-success {
    font-size: small;
  }
  p{
    font-size: small;
  }
  mat-icon.like{
    font-size: small;
  }
  mat-icon.dislike{
    font-size: small;
  }
  .comment-wrapper .media-list .media img {
    width: 50px;
    height: 50px;
    margin-right: 15px !important;
  }

}

.color{
  color: black;
}

@media(min-width:575px){
  p{
    max-width: 450px;
  }
}

@media(min-width:900px){
  p{
    max-width: 800px;
  }
}
