<app-menu></app-menu>

<h2>{{ Foro.title }}</h2>

<div class="content">
  <img hspace="5" vspace="5" style="float: right;" />
  Es importante conocer la longitud del texto y densidad de palabras claves al
  redactar contenido para web Es importante conocer la longitud del texto y
  densidad de palabras claves al redactar contenido para web jiaflknw fanjwe
  noaFnbw buafwj rwbeoEF unoAEj   Es importante conocer la longitud del texto y densidad de palabras claves al
  redactar contenido para web Es importante conocer la longitud del texto y
  densidad de palabras claves al redactar contenido para web jiaflknw fanjwe
  noaFnbw buafwj rwbeoEF unoAEj
</div>

<h4>Comentarios</h4>

<h6>¡Agrega tu comentario!</h6>

<div class="comentario">
    <textarea></textarea>
</div>

