.carousel{
    height: 17em;
    max-height: 100%;
    width: 98%;
    margin: auto;
    margin-top:1em;
}

.carousel-inner{
    height: 100% !important;
}

.picsum-img-wrapper{
    height: 100%;
}

img{
    height: 11em;
    max-height: 90%;
    width: 100%;

}

h4.categorias{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-weight: bolder;
    color: #484a4c;
    letter-spacing: 2px;
    margin: auto;
    text-transform: lowercase;
}




div.polaroid {
    width: 89%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin:auto;
    border-radius: 4px;
  }
  
  div.container {
    text-align: center;
    padding: 5px 20px;
  }

::ng-deep .carousel-control-prev {
    opacity: 0 !important;
}

::ng-deep .carousel-control-next {
    opacity: 0 !important;
}

::ng-deep .carousel-inner{
    height: 100% !important;
}