<app-menu></app-menu>
<div class="fondo">
  <form (ngSubmit)="onSaveForm()">
    <div class="form">
      <mat-label class="datos">Introduzca el nombre del foro:</mat-label>

      <div appearance="outline">
        <mat-label>Nombre</mat-label>
        <input [(ngModel)]="text" name="text" matInput placeholder="Nombre"  />
      </div>

      <div class="form-group cuentas">
        <mat-label class="datos">Selecciona la Subcategoria </mat-label>
        <div *ngFor = "let aja of CatWFavoriteSubcat"> {{aja.name}}: 
        <select [(ngModel)]="seleccionado"
          class="form-control cuenta"
          id="sel1"
          name="first"
        > 
               <option *ngFor = "let ok of aja.subCategories" value="{{ok.id}}">{{ok.name}}</option>
          
          
         
        </select>
      </div>
      </div>

      <div>
        <button type="submit">continuar</button>
      </div>
      
      
    </div>
  </form>
</div>
