<app-menu></app-menu>

<mat-card class="example-card container head">
    <img mat-card-image [src]="categorias.imagen" class="encabezado">
    <div class="centered">{{categorias.title}}</div>
</mat-card>

<div class="p">
    <br>
    <h4>Recomendaciones wave</h4>
    <h5>{{categorias.texto}}</h5>
    <br>
    <h4>Subcategorías</h4>
</div>


<div class="row"> 

    <div class="column">
        <a routerLink="/sub-categoria/788"><mat-card>
            <img mat-card-image src="https://i.pinimg.com/originals/2c/59/5d/2c595d37e02a12c6333abe6d69a90a67.png" style="width:100%">
            <mat-card-content>
                <mat-card-footer><p>informacion</p></mat-card-footer>
            </mat-card-content>        
        </mat-card></a>

        <mat-card>
            <img mat-card-image src="https://i.pinimg.com/originals/26/01/d6/2601d6a94eff41ab0bc3c96b753b5707.jpg" style="width:100%">
            <mat-card-content>
                <mat-card-footer><p>informacion</p></mat-card-footer>
            </mat-card-content>        
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://image.winudf.com/v2/image1/a2V5Ym9hcmQudGhlbWUubXVzaWMucG9wLmFydC5naXJsX3NjcmVlbl8xXzE1NTgwNjkxMzZfMDgx/screen-1.jpg?fakeurl=1&type=.jpg" style="width:100%">
            <mat-card-content>
                <mat-card-footer><p>informacion</p></mat-card-footer>
            </mat-card-content>        
        </mat-card>

    


   </div>
    
    <div class="column reverse">
        <mat-card>
            <img mat-card-image src="https://i.pinimg.com/originals/2c/59/5d/2c595d37e02a12c6333abe6d69a90a67.png" style="width:100%">
            <mat-card-content>
                <mat-card-footer><p>informacion</p></mat-card-footer>
            </mat-card-content>        
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://i.pinimg.com/originals/26/01/d6/2601d6a94eff41ab0bc3c96b753b5707.jpg" style="width:100%">
            <mat-card-content>
                <mat-card-footer><p>informacion</p></mat-card-footer>
            </mat-card-content>        
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://image.winudf.com/v2/image1/a2V5Ym9hcmQudGhlbWUubXVzaWMucG9wLmFydC5naXJsX3NjcmVlbl8xXzE1NTgwNjkxMzZfMDgx/screen-1.jpg?fakeurl=1&type=.jpg" style="width:100%">
            <mat-card-content>
                <mat-card-footer><p>informacion</p></mat-card-footer>
            </mat-card-content>        
        </mat-card>
    </div> 
</div>
