<app-menu></app-menu>
<div class="separador" style="color:transparent">cargando contenid extra</div>
<div *ngIf="categoryById.contentCategories.length > 0">
  <mat-card class="example-card container head">
    <img mat-card-image [src]="content0.imagen" class="encabezado" />
    <div class="centered">
      {{ categoryById.name }}
    </div>

    <mat-card-content>
      <mat-card-title style="justify-content: left;"
        ><strong
          >
          {{ categoryById.contentCategories[0].title }}</strong
        ></mat-card-title
      >
      <p>
        {{ categoryById.contentCategories[0].text }}
      </p>

    </mat-card-content>
  </mat-card>
</div>
<br />
<h4 style="margin-bottom: 0.7em;">Contenido recomendado</h4>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div *ngFor="let cont of categoryById.contentCategories">
        <mat-card class="example-card container head" style="margin-top: 0 !important">
          <img mat-card-image [src]="cont.imagen" class="encabezado" />
          <div class="centered">
            
          </div>
      
          <mat-card-content>
            <mat-card-title style="justify-content: left;"
              ><strong
                >{{ categoryById.name }}
                </strong
              ></mat-card-title
            >
            <mat-card-subtitle>{{ categoryById.contentCategories[0].title }}</mat-card-subtitle>
            <p>
              {{ categoryById.contentCategories[0].text }}
            </p>
            <br />
            <p>
              Consigue más en:
              <a href="{{ categoryById.contentCategories[0].link }}"
                >Contenido extra</a
              >
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="carousel-item">
      <div *ngFor="let cont of categoryById.contentCategories">
        <mat-card class="example-card container head" style="margin-top: 0 !important">
          <img mat-card-image [src]="cont.imagen" class="encabezado" />
          <div class="centered">
            {{ categoryById.name }}
          </div>
      
          <mat-card-content>
            <mat-card-title style="justify-content: left;"
              ><strong
                >
                {{ categoryById.contentCategories[0].title }}</strong
              ></mat-card-title
            >
            <p>
              {{ categoryById.contentCategories[0].text }}
            </p>
            <br />
            <p>
              Consigue más en:
              <a href="{{ categoryById.contentCategories[0].link }}"
                >Contenido extra</a
              >
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>
<br />
<h4>Podría interesarte</h4>
<div>
  <div class="row card-list">
    <div
      class="col-md-3 col-6 card-container"
      *ngFor="let sub of subcategories; index as i"
    >
      <a routerLink="/sub-categoria/{{ sub.id }}">
        <mat-card>
          <img
            mat-card-image
            src="{{ sub.contentSubcategories[0].imagen }}"
            class="mat-card-image"
          />
          <mat-card-content>
            <mat-card-footer
              ><p>{{ sub.name }}</p></mat-card-footer
            >
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
