<div class="fondo">
    <div class="form">
      <div >
        <h1>Cambiar contraseña</h1>
        <label class="info"
          >Introduce la dirección de correo electrónico con el que te
          registraste</label
        >
  
        <form [formGroup]="loginForm" (ngSubmit)="onSaveForm()">
          <div class="formulario">
            <mat-form-field appearance="outline">
              <mat-label 
                >Correo</mat-label
              >
              <input matInput formControlName="usuario" placeholder="Correo" />
            </mat-form-field>
  
            <div *ngIf="usuario.invalid && usuario.dirty">
              <div *ngIf="usuario.errors.required">
                Correo es requerido
              </div>
              <div *ngIf="usuario.errors.pattern">
                Debe ser un correo válido
              </div>
            </div>
          </div>
          <div class="boton">
            <button
              class="btn btn-primary primero"
              [disabled]="loginForm.invalid"
              type="submit"
             
            >
              enviar
            </button>
            <a routerLink="/inicio"
              ><button
                type="button"
                class="btn btn-primary segundo"
                type="submit>"
              >
                regresar
              </button></a
            >
          </div>
        </form>
      </div>
      </div>
    </div>
  

   
  
  
