.mat-expansion-panel-header {
    padding: 24px;
    height: auto !important;
  }

  .mat-card-avatar {
    height: 3.5em;
    width: 3.5em; 
    border: 2px solid #e5e7e8;
  }
  .acordion{
    width: 95% !important;
    font-family: "Roboto";

}
.btn {
    width: 15%;
    font-style: normal;
    font-family: "Poiret One";
    letter-spacing: 3px;
    border: none;
    color:#5cbcc4;
    background-color: transparent;
    box-shadow: none;
  }

  .btn1 {
    width: 45%;
    font-style: normal;
    font-family: "Poiret One";
    letter-spacing: 3px;
    border: 0.8px solid white;
    color:white;
    background: #5cbcc4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }


  .ordenar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    max-width: 100%;
  }

  @media(min-width: 900px){
      .acordion{
          width: 70% !important;

      }
  }