<div class="fondo">
  <app-menu></app-menu>

  <div class="parent">
    <mat-form-field appearance="outline">
      <mat-label>Encuentra el foro que buscas</mat-label>
      <input
        type="search"
        aria-label="Number"
        matInput
        placeholder="Busca un foro"
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [(ngModel)]="filterForum"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredForums | async"
          [value]="option.title"
        >
          {{ option.title }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix style="color:white">search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngFor="let foro of forums | foroFilter: filterForum" class="contenedor">
    <mat-card
        ><a routerLink="/foro/{{ foro.id }}"
        ><img
          mat-card-avatar
          [src]="foro.image"
          alt="User Avatar"
        /></a
        >{{ foro.title }}
        <mat-card-actions> 
          ¡Suscríbete!
          <mat-icon (clic)="likeForo(foro.id)" class="agregar" [inline]="true" mat-raised-button
          matTooltip="Info about the action"
          matTooltipClass="example-tooltip-red" >thumb_up</mat-icon>
          
          
        </mat-card-actions></mat-card
      >
  </div>
  
</div>