.menu{
    background-color:#74b4bc;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #f4f4f4;
    font-size: 180%;
    display: flex;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(168, 165, 165, 0.486);
}

.titulo{
    width: 10%;
}

.iconos{
    width: 60%;
    text-align: right; 
    display: flex;
    flex-direction: row-reverse;
}

mat-icon{
    height: 100%;
    font-size: 0.7em;
}

.search{
    margin-left: 1%;
    font-size: 0.6em;
}

input{
    padding:0;
    font-size: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
}

a{
    color: #f4f4f4;
}

button{
    color:#f4f4f4;
    background: transparent;
    border: none;
    width: 1em;
    padding: 0;

}

button:focus{
    outline:none;
}

button.opciones{
    color: black;
    padding-left: 10%;
}


.parent{
    display:flex;
}


.mat-toolbar .mat-input-element {
    caret-color: currentColor;
    width: 2.5em;
    height: 0.8em;
    border-radius: 10%;
    border-color: #f4f4f4;
}

a.opcion{
    color:#484a4c;
}

::ng-deep.mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important; 
}


::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0; 
}

::ng-depp.mat-form-field-infix{
    width: 3em !important;
}

::ng-deep.mat-form-field-infix {
    padding: .4em 0 !important;
    width: 6.4em !important;
    font-size: 60% !important;
    border-top: 1.94em solid transparent !important;
}   

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #f4f4f4 !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #f4f4f4 !important;
    background: transparent;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    color: #f4f4f4 !important;
    background: transparent;
  }
  
  //mat-input focused color
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #f4f4f4 !important;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #f4f4f4 !important;
  }
