<div class="body">
  <mat-toolbar>
    <mat-toolbar-row class="menu">
      <div class="titulo">
        <a routerLink="/home"
          ><span><strong>wave</strong></span></a
        >
      </div>

      <div class="iconos">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="opciones">
            <a routerLink="/categorias" class="opcion">
              <span>Categorías</span>
            </a>
          </button>
          <button mat-menu-item class="opciones">
            <a routerLink="/favoritas" class="opcion">
              <span>Agregar Favoritos</span>
            </a>
          </button>
          <button mat-menu-item class="opciones">
            <a (click)="logOut()" routerLink="/iniciar-sesion" class="opcion">
              <span>Cerrar sesión</span>
            </a>
          </button>
        </mat-menu>

        <button routerLink="/foros">
          <mat-icon class="search">mode_edit</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
