
.menu{
    background-color:#1a5f6c;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ecf1f1;
    font-size: 180%;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.titulo{
    width: 10%;
}

.iconos{
    width: 60%;
    text-align: right;   
}

mat-icon{
    margin-left: 4%;
}

a{
    color: #ecf1f1;
}
