
<div>
    <mat-toolbar >
        <mat-toolbar-row class="menu">
            <div class="titulo">
                <a routerLink="/home"><span><strong>wave</strong></span></a>
            </div>
           
                  <input type="text"
                         placeholder="Foros"
                         aria-label="Number"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredForums | async" [value]="option.title">
                      {{option.title}}
                    </mat-option>
                  </mat-autocomplete>
               
                   
            <div class="iconos">
                <mat-icon>search</mat-icon>
                <a routerLink="/categorias"><mat-icon>list</mat-icon></a>
               <a (click)="logOut()" routerLink="/iniciar-sesion"> <mat-icon >exit_to_app</mat-icon> </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

