
.menu{
    background-color:#74b4bc;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #f4f4f4;
    font-size: 180%;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.titulo{
    width: 10%;
}

.iconos{
    width: 60%;
    text-align: right;   
}

mat-icon{
    margin-left: 4%;
    height: 100%;
    font-size: 0.7em;
}

.search{
    margin-left: 1%;
    font-size: 0.6em;
}

input{
    padding:0;
}

a{
    color: #f4f4f4;
}


.mat-toolbar .mat-input-element {
    caret-color: currentColor;
    width: 2.5em;
    height: 0.8em;
    border-radius: 10%;
    border-color: #f4f4f4;
}
