<div class="body">
  <mat-toolbar>
    <mat-toolbar-row class="menu">
      <div class="titulo">
        <a routerLink="/home"
          ><span><strong>wave</strong></span></a
        >
      </div>

      <div class="iconos">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="opciones">
            <a routerLink="/categorias" class="opcion">
              <span>Categorias</span>
            </a>
          </button>
          <button mat-menu-item class="opciones">
            <a (click)="logOut()" routerLink="/iniciar-sesion" class="opcion">
              <span>Cerrar sesión</span>
            </a>
          </button>
        </mat-menu>

        <div class="parent" *ngIf="show">
          <mat-form-field appearance="fill">
            <input
              type="search"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredForums | async"
                [value]="option.title"
              >
                {{ option.title }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <button (click)="visible()">
          <mat-icon class="search">search</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
