<app-menu></app-menu>

<mat-card class="example-card container head">
    <img mat-card-image [src]="salvando.imagen" class="encabezado">
    <div class="top">Libros de Misterio</div>
    <div class="centered">Comparte con los demás usuarios el libro que te puso los pelos de punta</div>
</mat-card>

<br>
<h4>Participa en los foros sobre Misterio</h4>
<br>

<div>

</div>

<div *ngFor="let foro of favoriteForums">
    <div class="card">
        <a routerLink="/foro/{{foro.id}}"><mat-card>{{foro.title}}</mat-card></a>
    </div>
</div>



