<app-menu></app-menu>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Encuentra el foro que buscas</mat-label>
    <input
      type="text"
      placeholder="Busca un foro"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredForums | async"
        [value]="option.title"
      >
        {{ option.title }}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<mat-card class="example-card container head">
  <mat-card-title class="top">{{ subcategory.name }}</mat-card-title>
  <img
    mat-card-image
    src="{{ subcategory.contentSubcategories[0].imagen }}"
    class="encabezado"
  />

  <strong>
  <mat-card-content>
    <mat-card-title style="justify-content: left;"
      ><strong
        >Recomendación Wave:
        <br />
        {{ subcategory.contentSubcategories[0].title }}</strong
      ></mat-card-title
    >
    <p>
      {{ subcategory.contentSubcategories[0].text }}
    </p>
    <br />
    <p>
      Consigue más en:
      <a href="{{ subcategory.contentSubcategories[0].link }}"
        >Contenido extra</a
      >
    </p>
  </mat-card-content>
</strong>
</mat-card>


<br />
<h4>También puedes participar en estos foros</h4>
<br />

<div></div>

<div *ngFor="let foro of favoriteForums" class="foros">
  <a routerLink="/foro/{{ foro.id }}"
    ><mat-card class="foros1"
      ><img
        mat-card-avatar
        src="/assets/img/logo.png"
        alt="User Avatar"
      />{{ foro.title }}</mat-card
    ></a
  >
</div>
