.head {
  width: 90%;
  text-align: center;
  font-size: 250%;
  font-family: Roboto, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

mat-card-content {
  padding: 13px;
  text-align: left;
}

form {
  padding-top: 5em;
}

p {
  text-align: justify !important;
}

.encabezado {
  width: 100%;
  margin: 0;
  opacity: 0.9;
  height: 11em;
}

img {
  margin: 0;
  max-height: 10.3;
}

img.mat-card-avatar{  
  border: 2px solid #e5e7e8;
}

.container {
  margin-top: 3%;
  position: relative;
}

.top {
  font-family: Roboto, sans-serif;
}

h4 {
  font-family: Roboto, sans-serif;
  text-align: left;
  color: black;
  padding-top: 5%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.568);
}

.ordenar{
  display: flex;  
}
p{
  text-align: justify;
  margin-bottom: 0;
}

input[type="file"] {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  background-color: transparent;
  width: 40%;
  height: 100px;
}

label {
  font-weight: 600;
  color: #484a4c;
  background-color: transparent;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 25px !important;
  width: fit-content;
  text-align: center;
}

.cargar {
  width: 3rem;
  height: 3rem;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(116, 180, 188, 1) 100%
  );

  padding-top: 11px;
  padding-left: 1px;
  border-radius: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 40%;
  margin-left: 55%;
  font-style: normal;
  font-family: "Poiret One";
  font-weight: bold;
  letter-spacing: 3px;
  border: 0.8px solid white;
  background: #74b4bc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

button {
  margin-bottom: 0.5rem;
}

button.btn-mas{
  width: 70%;
  margin-left: 15%;
  background: orange;
  font-weight: bold;
  margin-bottom: 1em;
}

mat-label.datos {
  font-size: large;
  margin-bottom: 2%;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  color: #f4f4f4;
}
mat-label {
  text-align: center;
  color: #484a4c !important;
  letter-spacing: 0.5px;
}

hr {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
}

@media (min-width: 600px) {
  .centered {
    font-size: 52%;
  }
}

@media (max-width: 330px) {
  .centered {
    font-size: 27%;
  }
}

.mat-card {
  width: 90%;
  margin: auto;
  margin-top: 1em;
  font-family: "Poiret One";
  letter-spacing: 0.5px;
}

.parent {
  margin-bottom: 4em;
}

mat-form-field {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

input {
  padding: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

h4 {
  text-align: left;
  color: black;
  font-family: Roboto, sans-serif;
}

.foros1 {
  margin-bottom: 2em;
  font-family: Roboto, sans-serif !important;
}

div.modal-body{
  text-align: center;
  form{
    padding-top:0;
  }
  mat-form-field{
    width: 90%;
    margin-left: 0;
  }
}

div.modal-footer{
  text-align: right;
  .btn{
    margin-left: 1%;
    width: 47%;
  }
}

@media (min-width: 768px) {
  .encabezado {
    height: 14em;
  }
}

::ng-deep.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0;
}

::ng-depp.mat-form-field-infix {
  width: 100% !important;
}

::ng-deep.mat-form-field-infix {
  width: 100% !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #f4f4f4 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #f4f4f4 !important;
  background: transparent;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  color: #f4f4f4 !important;
  background: transparent;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #f4f4f4 !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #f4f4f4 !important;
}

::ng-deep .mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: -1px 4px 41px 3px rgba(0, 0, 0, 0.171),
    0px -1px 4px 0px rgba(0, 0, 0, 0.14), 1px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  box-shadow: -1px 4px 18px 3px rgba(0, 0, 0, 0.171),
    0px -1px 4px 0px rgba(0, 0, 0, 0.14), 1px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
  border-radius: 4px;
}

::ng-deep .mat-card-avatar {
  margin-right: 15px !important;
  height: 3.5em !important;
  width: 3.5em !important;
}

::ng-deep .mat-card-content {
  margin-bottom: 2em !important;
}
