.fondo {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 103%;
  background-image: url("/assets/img/back5.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-bottom: 2rem;
  padding-top: 4rem;

  .form {
    position: relative;
    z-index: 2;
  }
}

.espacio {
  height: 4%;
}

.logo {
  height: 26%;
  background-image: url("/assets/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.formulario {
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

mat-form-field {
  width: 80%;
  text-align: left;
}

mat-label {
  text-align: center;
  color: #34839c;
  letter-spacing: 0.5px;
}

.btn {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
  border: 0.8px solid white;
  background: #74b4bc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

button {
  margin-bottom: 6%;
}

.boton {
  padding-top: 3.5em;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  font-family: Poiret One;
  width: 80%;
}

h1 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 4em;
  color: black;
}

.mat-error{
  color:white !important;
  font-family: "Roboto";
  margin-bottom: 5px;
}


@media (max-width: 384px) {
  .btn {
    font-size: 95%;
  }
  .boton {
    padding-top: 1%;
  }
  button {
    padding-top: 5px;
  }
  .formulario {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-top: 1em;
  }

  h1 {
    margin: 0;
  }
}

@media (max-width: 330px) {
  .boton {
    width: 75%;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  &,
  &:hover,
  &:focus,
  &:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color !important;
  }
}

/* input color class */
::ng-deep input.mat-input-element {
  color: #484a4c;
  width: 80%;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #50d0fb !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #74b4bc !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #50d0fb !important;
  background: white;
  border-radius: 5px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  color: #50d0fb !important;
  background: white;
  border-radius: 5px;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #74b4bc !important;
}

// mat-input error outline color
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
 
  opacity: 0.8 !important;
}


// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
  // color: $mainColor!important;
}



::ng-deep .mat-input-wrapper {
  background: white !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.9em !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0;
}
