<div class="fondo">
    <div class="espacio">

    </div>
    <div class="logo">
        
    </div>
    <h1>wave</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSaveForm()">
    <div class="formulario">
      
        <mat-form-field appearance="standard">
          <mat-label>Introducir Correo</mat-label>
          <input matInput formControlName="usuario" placeholder="Correo">
        </mat-form-field>   
      
      <div *ngIf="usuario.invalid && usuario.dirty">
        <div *ngIf="usuario.errors.required">
          Usuario es Requerido
        </div>
        <div *ngIf="usuario.errors.pattern">
          Debe ser un correo valido
        </div>    
      </div>


      <mat-form-field appearance="standard">
        <mat-label>Introducir Contraseña</mat-label>
        <input matInput formControlName="contra" placeholder="Contraseña">
      </mat-form-field>


      <div *ngIf="contra.invalid && contra.dirty">
        <div *ngIf="contra.errors.required">
          Contraseña es Requerida
        </div>
        <div *ngIf="contra.errors.minlength">
          Debe tener al menos 7 caracteres
        </div>    
      </div>

    </div>
    <div class="boton">
      <a routerLink="/home"><button class="btn btn-primary primero btn-lg" type="submit">continuar</button></a>
      <a routerLink="/inicio"><button class="btn btn-primary primero btn-lg" type="submit">regresar</button></a>
    </div>
    </form>


</div>