<ngx-spinner bdColor = "rgba(10,57,158,0.8)" size = "large" color = "#6be7db" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Wave... </p>
</ngx-spinner>
<div class="fondo">
  <div class="form">
    <div class="espacio">

    </div>
    <div class="logo">
        
    </div>
    
    <h1>wave</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSaveForm()">
    <div class="formulario">
      
        <mat-form-field appearance="outline">
          <mat-label>Introducir Correo</mat-label>
          <input matInput formControlName="usuario" placeholder="Correo">
          <mat-icon> mail_outline</mat-icon>
        </mat-form-field>   
      
      <div *ngIf="usuario.invalid && usuario.dirty">
        <div *ngIf="usuario.errors.required" class="mat-error">
          Usuario es Requerido
        </div>
        <div *ngIf="usuario.errors.pattern" class="mat-error">
          Debe ser un correo valido
        </div>    
      </div>


      <mat-form-field appearance="outline">
        <mat-label>Introducir Contraseña</mat-label>
        <input type="password" matInput formControlName="contra" placeholder="Contraseña">
        <mat-icon> vpn_key</mat-icon>
      </mat-form-field>


      <div *ngIf="contra.invalid && contra.dirty" class="mat-error">
        <div *ngIf="contra.errors.required">
          Contraseña es Requerida
        </div>
        <div *ngIf="contra.errors.minlength" class="mat-error">
          Debe tener al menos 7 caracteres
        </div>    
      </div>

    </div>
    <div class="boton">
      <a><button class="btn btn-primary primero" type="submit">continuar</button></a>
      <a routerLink="/inicio"><button class="btn btn-primary primero" type="submit">regresar</button></a>
      <a routerLink="/cambiar-contrasena"><button class="btn btn-primary primero" type="submit">cambiar contraseña</button></a>

    </div>
    </form>

</div>  
</div>