<div class="fondo">
  <div *ngIf="favoriteCategories.length > 0">
    <h5>Tu contenido favorito</h5>
    <div *ngFor="let categoria of favoriteCategories">
      <mat-card class="form">
        <img mat-card-avatar src="{{categoria.contentCategories[0].imagen}}" alt="User Avatar" />
        <strong>{{ categoria.name }}</strong>
        <br />
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
        <mat-chip-list multiple aria-label="Fish selection">
          <div *ngFor="let sub of categoria.subCategories">
            <mat-chip color="accent" selected>
              {{ sub.name }}
            </mat-chip>
          </div>
        </mat-chip-list>
      </mat-card>
    </div>

  </div>

  <h5>Selecciona todos los temas que te interesen</h5>
  <div *ngFor="let categoria of Categories">
    <mat-card class="form">
      <img
        mat-card-avatar
        src="{{ categoria.contentCategories[0].imagen }}"
        alt="User Avatar"
      />
      <strong>{{ categoria.name }}</strong>
      <br />
      <mat-divider></mat-divider>
      <mat-card-content></mat-card-content>
      <mat-chip-list multiple aria-label="Fish selection">
        <div *ngFor="let sub of categoria.subCategories">
          <mat-chip color="accent" selected>
            {{ sub.name }}
            <mat-icon matChipRemove (click)="agregarFavorito(sub.id)"
              >favorite</mat-icon
            >
          </mat-chip>
          <button class="btn btn-primary primero" type="submit">
            agregar
          </button>
        </div>
        <div *ngFor="let sub of categoria.subCategories">
          <mat-chip color="accent" selected>
            {{ sub.name }}
          </mat-chip>
          <button class="btn btn-primary primero" type="submit">
            agregar
          </button>
        </div>
      </mat-chip-list>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>
</div>
