<div class="fondo">
  <div *ngIf="favoriteCategories.length > 0">
    <h5>Tu contenido favorito</h5>
    <div *ngFor="let categoria of favoriteCategories">
      <mat-card class="form">
        <img
          mat-card-avatar
          src="{{ categoria.contentCategories[0].imagen }}"
          alt="User Avatar"
        />
        <strong>{{ categoria.name }}</strong>
        <br />
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
        <mat-chip-list multiple aria-label="Fish selection">
          <div *ngFor="let sub of categoria.subCategories">
            <mat-chip color="accent" selected>
              {{ sub.name }}
            </mat-chip>
          </div>
        </mat-chip-list>
      </mat-card>
    </div>
  </div>

  <h5>Selecciona todos los temas que te interesen</h5>
  <div *ngFor="let categoria of Categories">
    <mat-card class="form">
      <img
        mat-card-avatar
        src="{{ categoria.contentCategories[0].imagen }}"
        alt="User Avatar"
      />
      <strong>{{ categoria.name }}</strong>
      <br />
      <mat-divider></mat-divider>
      <mat-card-content> </mat-card-content>
      <mat-chip-list multiple aria-label="Fish selection">
        <div *ngFor="let sub of categoria.subCategories">
          <mat-chip color="accent" selected>
            {{ sub.name }}
            <button
              mat-icon-button
              class="icono"
              (click)="isClicked = !isClicked"
              [class.myClass]="isClicked"
            >
              <mat-icon matChipRemove (click)="agregarFavorito(sub.id)"
                >favorite</mat-icon
              >
            </button>
          </mat-chip>
        </div>
      </mat-chip-list>
    </mat-card>
  </div>
  <a routerLink="/home"
    ><button class="btn btn-primary primero btn-lg" type="submit">
      continuar
    </button></a
  >
</div>
